.banner {
  background: url("https://placeimg.com/640/480/any");
  width: 100%;
  background-size: cover;
  display: flex;
  display: block;
  position: relative;

  &__overlay {
    order: 1;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 700px;
    margin: 120px auto 120px auto;
  }
}

/* *********************************
 *    Button/actions     *
 **********************************/
.action {
  padding: 10px 15px;
  text-decoration: none;
  border: 1px #57bd84 solid;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
}

/* *********************************
 *   Generic styling     *
 **********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #1e1e1e;
}

h2 {
  text-align: center;
}


/* *********************************
 *    Center Image                 *
 **********************************/

.centerImage {
  background: url("https://placeimg.com/640/480/any") center;
  background-size: cover;
}
.itemCenter {
  align-items: center;
}

.imageHeight {
  height: 400px;
}
