.banner {
  background: url("https://placeimg.com/640/480/any");
  width: 100%;
  background-size: cover;
  display: flex;
  display: block;
  position: relative;

  &__overlay {
    order: 1;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 700px;
    margin: 120px auto 120px auto;
  }
}

/* *********************************
 *    Button/actions     *
 **********************************/
.action {
  padding: 10px 15px;
  text-decoration: none;
  border: 1px #57bd84 solid;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
}

/* *********************************
 *   Generic styling     *
 **********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #1e1e1e;
}

h2 {
  text-align: center;
}

/* *********************************
 *    Generic FlexBox Styling      *
 **********************************/

.flex {
  &__item {
    flex: 1;
  }

  &__container {
    display: flex;
  }
}

// TODO: classes to renamed into BEM styling
.flexCenter {
  justify-content: center;
}
.flexEnd {
  justify-content: flex-end;
}
.flexWrap {
  flex-wrap: wrap;
}
.itemCenter {
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.flexSpaceBetween {
  justify-content: space-between;
}
.flexSpaceAround {
  justify-content: space-around;
}

/* *********************************
 *    Shared Styling               *
 **********************************/
.fullHeight {
  height: 100vh;
}

.header {
  &__container {
  }
}

.footer {
  height: 250px;
  background: #2f2f2f;
}

.redBackground {
  background: red;
}

.whiteText {
  color: white;
}

.height50 {
  height: 50px;
  line-height: 50px;
}

.marginTop {
  margin-top: 50px;
}

.marginBottom {
  margin-bottom: 25px;
}

/* *********************************
 *    Content                 *
 **********************************/

// .content {
//   order: 2;
//   height: 400px;
//   padding: 40px 200px 40px 200px;
//   border-left: 1px solid #777777;
//   border-right: 1px solid #777777;
// }
//
// .contentLeft,
// .contentRight {
//   order: 1;
//   width: 40%;
//   padding: 20px;
// }
//
// .sidebarLeft {
//   order: 1;
//   width: 20%;
//   background: white;
//   padding: 20px;
// }
//
// .sidebarRight {
//   order: 3;
//   width: 20%;
//   background: white;
//   padding: 20px;
// }

/* *********************************
 *    3 Column Layout              *
 **********************************/

.col {
  width: 32%;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding: 20px;
}

.flexCenter {
  justify-content: center;
}

.imageHeight {
  height: 30vh;
}

.itemCenter {
  align-items: center;
}

.fullHeight {
  height: 60vh;
}

/* *********************************
 *    Center Image                 *
 **********************************/

.centerImage {
  background: url("https://placeimg.com/640/480/any") center;
  background-size: cover;
  height: 400px;
}
