.content {
  padding: 40px 200px 40px 200px;
}

.contentLeft,
.contentRight {
  font-size: 14px;
  width: 40%;
  padding: 20px;

  @media only screen and (max-width: 1200px) {
    width: 520px;
    padding: 30px;
  }
}

.sidebarRight,
.sidebarLeft {
  font-size: 14px;
  width: 20%;
  background: white;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
  margin: 20px;
  @media only screen and (max-width: 1200px) {
    width: 100%;
    padding: 5px;
    margin: 20px;
  }
}

.flex {
  &__item {
    flex: 1;
    flex-direction: column;
  }

  &__container {
    display: flex;
  }
}

.flexCenter {
  justify-content: center;
}

.itemCenter {
  align-items: center;
}

.centerImage {
  align-items: center;
  justify-content: center;
}

.imageHeight {
  background: url("https://placeimg.com/640/480/any");
  width: 100%;
  background-size: cover;
  position: relative;
}
