.contentLeft,
.contentRight {
  width: 40%;
  padding: 20px;
}

.sidebarRight,
.sidebarLeft {
  width: 20%;
  background: white;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
}

.flex {
  &__item {
    flex: 1;
    flex-direction: column;
  }

  &__container {
    display: flex;
  }
}

.flexCenter {
  justify-content: center;
}

.itemCenter {
  align-items: center;
}

.centerImage {
  align-items: center;
  justify-content: center;
}

.imageHeight {
  background: url("https://placeimg.com/640/480/any");
  width: 100%;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 10px 50px 10px 50px;
  }
}
@media only screen and (min-width: 600px) {
  .content {
    padding: 10px 50px 10px 50px;
  }
}
@media only screen and (min-width: 768px) {
  .content {
    padding: 20px 100px 20px 100px;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    padding: 40px 200px 40px 200px;
  }
}
