.content {
  padding: 40px 200px 40px 200px;

  @media only screen and (max-width: 1200px) {
    padding: 10px 0 10px 0;
  }
}

.sidebarLeft,
.sidebarRight {
  width: 50%;
  padding: 45px;

  @media only screen and (max-width: 1200px) {
    padding: 10px;
  }
}

.flex {
  &__item {
    flex: 1;
    flex-direction: column;
  }

  &__container {
    display: flex;
  }
}

.flexCenter {
  justify-content: center;
}

.itemCenter {
  align-items: center;
}

.centerImage {
  align-items: center;
  justify-content: center;
}

.imageLeft,
.imageRight {
  background: url("https://placeimg.com/640/480/any");
  width: 45%;
  background-size: cover;
  position: relative;
}
