img {
  width: 4.1875rem;
  height: 1.875rem;
  fill: #57bd84;
  display: flex;
}

.grow {
  color: #57bd84;
}

.item {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  background: #2f2f2f;
  padding-left: 100px;
  padding-right: 100px;
}

ul {
  list-style: none;
  text-transform: uppercase;

  a {
    text-decoration: none;
    display: block;
    padding: 1em 1em;

    color: white;
    &:hover {
      background-color: #57bd84;
    }
  }
}
