// .container {
//   margin: 3rem auto;
//   max-width: 600px;
// }

// .bluebackground {
//   background: #2f2f2f;
// }
// // .headerStyles {
//   .grow {
//     color: #57bd84;
//   }
//
//   .item {
//     color: white;
//     text-decoration: none;
//     margin-top: 40px;
//   }
//   .container {
//     display: flex;
//   }
//
//   .nav {
//     display: flex;
//     background: #2f2f2f;
//     padding-left: 100px;
//     padding-right: 100px;
//   }
//
//   .nav {
//     list-style: none;
//     text-transform: uppercase;
//
//     a {
//       text-decoration: none;
//       display: block;
//       padding: 1em 1em;
//       margin-top: 20px;
//
//       color: white;
//       &:hover {
//         background-color: #57bd84;
//       }
//     }
//   }
// }

img {
  // width: 50px;
  width: 4.1875rem;
  height: 1.875rem;
  fill: #57bd84;
}

.grow {
  color: #57bd84;
}

.item {
  color: white;
  text-decoration: none;
  // margin-top: 40px;
}
// .nav {
//   display: flex;
// }

.nav {
  display: flex;
  background: #2f2f2f;
  padding-left: 100px;
  padding-right: 100px;
}

ul {
  list-style: none;
  text-transform: uppercase;

  a {
    text-decoration: none;
    display: block;
    padding: 1em 1em;
    // margin-top: 20px;

    color: white;
    &:hover {
      background-color: #57bd84;
    }
  }
}

//
// .content {
//   order: 2;
//   height: 400px;
//   padding: 40px 200px 40px 200px;
//   border-left: 1px solid #777777;
//   border-right: 1px solid #777777;
// }
//
// .contentLeft,
// .contentRight {
//   order: 1;
//   width: 40%;
//   padding: 20px;
// }
//
// .sidebarLeft {
//   order: 1;
//   width: 20%;
//   background: white;
//   padding: 20px;
// }
//
// .sidebarRight {
//   order: 3;
//   width: 20%;
//   background: white;
//   padding: 20px;
// }
